* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}
body{
    background:linear-gradient(135deg,bisque, rgb(161, 65, 41),rgb(126, 12, 12) );
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    text-align: center;
    padding: 100px 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}
.main__content{
    width: 20%;
    height: 450px;
    /* border: 1px dashed black; */
    box-shadow: 0 0 10px rgba(0,0,0,0.2) ;
    margin: 20px;
    border-radius: 8px;
    padding: 10px;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    color: white;
}
.main__content h2, .main__content button{
    text-align: center;
}
.form-group input{
    margin: 5px 0;
}